* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 10px 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.weather-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#weather-form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  /* margin-bottom: 20px; */
}

#city {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  background-color: #007bff;
}

button:hover {
  background-color: #0056b3;
}

/* #weather-info {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
} */

@media screen and (max-width: 768px) {
  #weather-form {
      row-gap: 20px;
  }

  .weather-container {
      width: 90%;
      margin: auto;
  }

}